.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    visibility: visible;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Add margin to create space between the navbar and the buttons */
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  /* Media Query for smaller screens */
  @media screen and (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: center;
      margin: 5px 0; /* Add some spacing between buttons */
    }
  
    li {
      margin: 5px 0; /* Add some spacing between buttons */
    }
  }
  