@media (max-width: 680px) {
    .list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .list li {
      width: 48%; /* Adjust the width as needed */
    }
  }
  