@media (max-width: 680px) {
    .list {
      flex-direction: row; /* Display buttons in a row */
      flex-wrap: wrap; /* Allow wrapping to the next row */
      justify-content: center; /* Center the buttons horizontally */
    }
  
    .list li {
      margin-right: 8px; /* Add some right margin between buttons */
    }
  }
  